@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.feed {
    &__itemMetaCategoryLink {}
    &__item {
        @include margin-bottom(1.25);
        background-color: $color-white;
        border-radius: var(--card-corner-radius);
        padding-top: 5px;
        &:last-child {
        @include margin-bottom(0.5);
        }

        &Meta {
        padding-right: 16px;
        padding-left: 16px;
        }

        &Title {
        font-size: $typographic-base-font-size * 1.6875;
        @include line-height(1.5);
        @include margin-top(0);
        @include margin-bottom(0.5);
        padding-right: 16px;
        padding-left: 16px;

        &Link {
            color: $color-base;

            &:hover,
            &:focus {
            color: $color-primary;
            }
        }
        }

        &Description {
        font-size: $typographic-base-font-size;
        @include line-height(1);
        @include margin-bottom(0.75);
        padding-right: 16px;
        padding-left: 16px;
        }

        &Thumbnail {
        img {
            max-width: 100%;
            vertical-align: middle;
            margin: 0 auto;
            background-color: #fff;
        }
        }

        &Meta {
        &-time {
            font-size: $typographic-small-font-size;
            color: $color-base;
            font-weight: 600;
            text-transform: uppercase;
        }

        &Divider {
            margin: 0 5px;

            &:after {
            content: " - ";
            }
        }

        &Category {
            &Link {
            font-size: $typographic-small-font-size;
            color: $color-base;
            font-weight: 600;
            text-transform: uppercase;

            &:hover,
            &:focus {
                color: $color-primary;
            }
            }
        }

        &Author {
            font-size: $typographic-small-font-size;
            color: $color-base;
            font-weight: 600;
            text-transform: uppercase;
        }
        }

        &Readmore {
        font-size: $typographic-base-font-size;
        color: $color-base;

        &:hover,
        &:focus {
            color: $color-primary;
        }
        }
    }
    @media (prefers-color-scheme: dark) {
        &__item {
          background-color: var(--nav-bar-background) !important;
          &Title {
      
            &Link {
              color: var(--always-white) !important;
            }
          }
          &Meta {
            &-time {
              color: var(--always-white) !important;
            }
    
            &Category {
              &Link {
                color: var(--always-white) !important;
              }
            }
    
            &Author {
              color: var(--always-white) !important;
            }
          }
          &Readmore {
            color: var(--always-white) !important;
          }
        }
    }
}