/** 
 * Variables
 */

 // Font family

 $font-all-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif, ui-monospace, Menlo, Consolas, Monaco, monospace, Helvetica, Arial, Segoe UI Historic, Segoe UI;
 $font-family-apple: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
 $font-family-code: ui-monospace, Menlo, Consolas, Monaco, monospace;
 $font-family-default: Helvetica, Arial, sans-serif;
 $font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;

// Supported Dark Mode

$card-background: #242526;
$card-background-flat: #323436;
$comment-background: #3A3B3C;
$comment-footer-background: #4E4F50;
$nav-bar-background: #242526;
$wash: #3E4042;


$media-inner-border: rgb(0 0 0 / 10%);
$shadow-1: rgba(0, 0, 0, .1);
$shadow-2: rgba(0, 0, 0, .2);
$shadow-5: rgba(0, 0, 0, .5);
$shadow-8: rgba(0, 0, 0, .8);
$shadow-inset: rgba(255, 255, 255, .05);
$divider: #3E4042;


$duration-extra-extra-short-in: 100ms;
$duration-extra-extra-short-out: 100ms;
$duration-extra-short-in: 200ms;
$duration-extra-short-out: 150ms;
$duration-short-in: 280ms;
$duration-short-out: 200ms;
$duration-medium-in: 400ms;
$duration-medium-out: 350ms;
$duration-long-in: 500ms;
$duration-long-out: 350ms;
$duration-extra-long-in: 1000ms;
$duration-extra-long-out: 1000ms;
$duration-none: 0ms;
$fast: 200ms;
$slow: 400ms;

// Colors
$color-base: #4c5267;
$color-primary: #fe2c55;
$color-secondary: #fe9c55;
$color-white: #FFF;
$color-black: #000;
$color-gray: lighten($color-base, 30%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Body
$body-background-light: #f7f9fb;
$body-background-dark: #18191A;

// Typographic
$typographic-font-family: $font-all-family;

$typographic-root-font-size: 100;
$typographic-base-font-size: 14.5px;
$typographic-small-font-size: 12.5px;

$typographic-base-line-height: 1.66667;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * calc($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 18px;

// Layout
$layout-post-single-width: 750px;
$layout-post-width: $layout-post-single-width; // $layout-post-width: $layout-post-single-width - 105px;

$layout-width: 1140px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;

// Feed
$feed-item-border-radius: 14px;
$feed-item-background-white: $color-white;
$feed-item-background-black: $color-black; 
$feed-item-border-white: 1px solid $shadow-2;
$feed-item-border-black: 1px solid $comment-background;
$feed-item-box-shadow: 0 1px 2px $shadow-2;

// Sidebar
$sidebar-item-border-radius: 14px;
$sidebar-item-border-white: 1px solid $shadow-2;
$sidebar-item-border-black: 1px solid $comment-background;
$sidebar-item-box-shadow: 0 1px 2px $shadow-2;

// Contact
$contact-item-border-white: 1px solid $media-inner-border;
$contact-item-border-black: 1px solid $comment-background;

// Pagination
$pagination-item-border-radius: 14px;
$pagination-item-box-shadow: 0 1px 2px $shadow-2;