@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.pagination {
  @include margin-top(2);
  display: flex;

  &__prev {
    width: 50%;
    text-align: left;

    &Link {
      background: $color-primary;
      box-shadow: $pagination-item-box-shadow;
      color: $color-white;
      padding: 4px 15px;
      display: inline-flex;
      font-weight: 700;
      justify-content: center;
      line-height: 1.5;
      transition: opacity .15s ease-in-out;
      border-radius: $pagination-item-border-radius;

      &:hover,
      &:focus {
        opacity: .8;
        color: $color-white !important;
      }

      &--disable {
        pointer-events: none;
        opacity: .4;
        color: lighten($color-white, 20%);
        -moz-user-select: none !important;
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -khtml-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
      }

    }

    @media (prefers-color-scheme: dark) {
      &Link {
        background: $nav-bar-background !important;
        color: $color-white;

        &:hover,
        &:focus,
        &--disable {
          color: $color-white !important;
        }

      }
    }

  }

  &__next {
    width: 50%;
    text-align: right;

    &Link {
      background: $color-primary;
      box-shadow: $pagination-item-box-shadow;
      color: $color-white;
      padding: 4px 15px;
      display: inline-flex;
      font-weight: 700;
      justify-content: center;
      line-height: 1.5;
      transition: opacity .15s ease-in-out;
      border-radius: $pagination-item-border-radius;

      &:hover,
      &:focus {
        opacity: .8;
        color: $color-white !important;
      }

      &--disable {
        opacity: .4;
        pointer-events: none;
        color: lighten($color-white, 20%);
        -moz-user-select: none !important;
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -khtml-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
      }

    }

    @media (prefers-color-scheme: dark) {
      &Link {
        background: $nav-bar-background !important;
        color: $color-white;

        &:hover,
        &:focus,
        &--disable {
          color: $color-white !important;
        }

      }
    }

  }

}