@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.tags {
    display: inline-block;

    @include margin-bottom(0.5);

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;

        &Item {
            display: inline-block;
            &Link {
                margin: 5px;
                background: #e4e6eb;
                color: $color-base;
                padding: 5px 10px;
                border-radius: 25px;

                &:hover,
                &:focus {
                    background: #0000000d;
                    color: $color-primary;
                }
            }
        }
        @media (prefers-color-scheme: dark) {
            &Item {
                &Link {
                    background: var(--comment-background) !important;
                    color: var(--always-white) !important;
    
                    &:hover,
                    &:focus {
                        background: var(--nav-bar-background) !important;
                        color: $color-primary !important;
                    }
                }
            }
          }
    }
}