@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.post {
  &__footer {
    max-width: $layout-post-width;
    margin: 50px auto 10px;
    padding: 0 15px 30px;
  }

  // &__thumbnail {
  //   img {
  //     width: 100%;
  //     height: auto;
  //     object-fit: cover;
  //     max-height: 400px;
  //     object-position: 0;
  //   }
  // }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto 30px;
    padding: 0 15px;
    background: #fff;
  }

  &__homeButton {
    display: block;
    max-width: 50%;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    @include margin(0, 1, 1, 0);
    background: #e4e6eb;
    z-index: 999;

    &:hover,
    &:focus {
      background: #0000000d;
      color: $color-base;
    }

  }

  h2 {
    position: relative;

    &:before {
      width: 100%;
      background-color: #efefef;
      content: "";
      height: .125rem;
      position: absolute;
      top: 100%;
      left: 0;
    }

    &:after {
      width: 3.125rem;
      margin: auto;
      background-color: #fe2c55;
      content: "";
      height: .125rem;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .post {
    &__homeButton {
      color: $color-white !important;
      background: $comment-background !important;
      &:hover,
      &:focus {
        color: $color-white !important;
        background: $nav-bar-background !important;
    }
    }

    h2 {
      &:before {
        background-color: $comment-background !important;
      }
    }
  }
}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }

    &__homeButton {
      position: fixed;
      max-width: 100%;
      margin: 0;
      top: 30px;
      left: 30px
    }

  }

}
